/* Customizer.module.css */

.customizerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

     /* Adding padding for spacing */
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; /* Align items to the center vertically */
    padding: 1.5%;
  }
  
  .backBtn {
    margin: 0;
  }
  
  .saveBtn {
    margin: 0;
  }
  
  .fuListContainer{
    background-color: antiquewhite;
    padding: 1%;
    margin-top: 1%;
  }

  .furniture {
    width: 200px;
    height: 200px;
  }