.con {
    display: flex; /* 요소들을 수평으로 배치 */
    justify-content: space-between; /* 요소들 사이의 간격을 최대화하여 수평 정렬 */
    align-items: center; /* 세로 정렬 */
    /* 추가적인 스타일을 여기에 추가할 수 있습니다. */
  }

.backarrow {
    font-size: 5vh;
    transform: rotate(180deg);
    color:#302b26;
    text-shadow: 3px 3px 2px rgb(172, 151, 151);
  }

.name{
    font-weight: bold;
    font-family: 'omyu_pretty';
    font-size: 4rem;
    vertical-align: top;
    margin-left: 20%;
    white-space: nowrap;
  }

  .likeCom {
    display: flex;
    margin-left: 4rem;
  }
  
  .likeImg {
    margin-right: 10px;
    width: 2.5vw;
  }
  
  .likeCnt {
    font-family: 'omyu_pretty';
    font-size: 1.5vw;
    color: #d77676
  }
  

  .chatCom {
    position: fixed;
    width: 20vw;
    bottom: 0;
    right: 0;
    margin: 16px; /* Adjust margin as needed */
    background-color: rgba(255, 255, 255, 0.7); /* Set a background color with 30% opacity */
    padding: 16px; /* Add padding if necessary */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
    border-radius: 15px; /* Adjust the border-radius as needed for rounded corners */
  }
  
  .chatList {
    width: 98%;
    max-height: 80vh; /* 최대 높이를 지정하여 화면을 넘어가면 스크롤이 생성되도록 합니다. */
    overflow-y: auto; /* 세로 스크롤을 적용합니다. */
    display: flex;
    flex-direction: column-reverse;
  }
  
  /* 추가된 부분: 스크롤 스타일 조정 */
  .chatList::-webkit-scrollbar {
    width: 12px; /* 스크롤의 너비 */
  }
  
  .chatList::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤 바의 색상 */
    border-radius: 10px; /* 스크롤 바의 모서리 반경 */
  }
  
  .chatList::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 스크롤 트랙의 색상 */
  }
  
  .chatIn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.274); /* Set a slightly transparent background color */
    border-radius: 10px; /* Add border-radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .chatInBox {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc; /* Add your desired border styles */
    border-radius: 5px;
    margin-right: 10px; /* Adjust the margin based on your design */
  }
  .customFont {
    font-size: 20px;
    font-family: 'omyu_pretty';
  }
  
  .chatpl button {
    background-color: rgba(76, 140, 175, 0.8); /* Set a slightly transparent button background color */
    color: white; /* Add your desired button text color */
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Adjust the margin based on your design */
  }
  
  .chatLable{
    display: flex;
    position: relative;
  }
  
  .chatCont{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }