body {
  background-color: rgb(238, 238, 238);
}

.fonts{
  font-family: 'Dancing Script';
}

.name{
  position: relative;
  display: inline-block;
  font-family: 'Dancing Script';
  font-size: 4rem;
  vertical-align: top;
}

.storage{
    
    color: white; 
  padding: 15px 25px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom-color: rgba(0,0,0,0.34);
  text-shadow:0 1px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
              0 2px 0 -1px rgba(0,0,0,0.13), 
              0 3px 0 -1px rgba(0,0,0,0.08), 
              0 3px 13px -1px rgba(0,0,0,0.21);
    background-color: #74675c;  
    padding: 4px 12px;  
    font-size: 12px;
    font-family: 'BookkMyungjo-Bd';
    
    

}

.storage:active{top: 1px;
border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;

}

.shop{
 color: white; 
  padding: 15px 25px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom-color: rgba(0,0,0,0.34);
  text-shadow:0 1px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
              0 2px 0 -1px rgba(0,0,0,0.13), 
              0 3px 0 -1px rgba(0,0,0,0.08), 
              0 3px 13px -1px rgba(0,0,0,0.21);
    background-color: #74675c;  
    padding: 4px 12px;  
    font-size: 12px;
    font-family: 'BookkMyungjo-Bd';
    position: relative;

}


.shop:active{top: 1px;
border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
position: relative;
top: 300px;
left: 20%;}

.friend{
color: white; 
padding: 15px 25px;
display: inline-block;
border: 1px solid rgba(0,0,0,0.21);
border-bottom-color: rgba(0,0,0,0.34);
text-shadow:0 1px 0 rgba(0,0,0,0.15);
box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
            0 2px 0 -1px rgba(0,0,0,0.13), 
            0 3px 0 -1px rgba(0,0,0,0.08), 
            0 3px 13px -1px rgba(0,0,0,0.21);
  background-color: #74675c;  
  padding: 4px 12px;  
  font-size: 12px;
  font-family: 'BookkMyungjo-Bd';
  position: relative;
  top: 300px;
  left: 70%;


}


.friend:active{top: 1px;
border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
position: relative;
top: 300px;
left: 70%;}

.main{
font-family: 'BookkMyungjo-Bd';
font-size: 30px;
}

.shopImg {
  width: 4vw;
  position: relative;
  top: 40vh;
  left: 10vw;
}

.firendImg{
  width: 4vw;
  position: relative;
  top: 35vh;
  left: 70vw;
}

.backImg{
  width : 3vw
}

.verti{
  position: relative;
  display: inline-block;
}

.varti h3 {
  width: 20px;
  height: 20px;
  vertical-align: top;
}

.varti_img {
  line-height: 0px;
}

.bgimg{
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  z-index: -9999;
}