.container {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.Name {
  font-size: 7vh;
  font-weight: bold;
  font-family: 'Dancing Script';
  color: rgb(255, 233, 162);
  text-shadow: 2px 2px 2px rgba(94, 91, 50, 0.603);
  position: relative;
  
}

.Name::after {
  content: "";
  position: absolute;
  bottom: -0.2vh;
  left: -10%;
  width: 25vw;
  height: 0.5vh;
  background-color: rgba(75, 62, 29, 0.753);
  border-radius: 10px;
}

.goarrow {
  position: absolute;
  top: 35%;
  right: -120%; /* Name 요소와 수평 정렬 및 오른쪽에 위치하도록 수정 */
  font-size: 4vh;
  color: rgba(56, 50, 17, 0.808);
  text-shadow: 3px 3px 2px rgb(172, 151, 151);
}

.heartp {
  position: absolute;
  top: 37%; /* Name 요소와 수평 정렬 */
  left: -30%; /* Name 요소의 왼쪽에 위치하도록 조정 */
  width: 2.5vw;
  height: 5vh;
}

