.container {
  display: flex; /* 요소들을 수평으로 배치 */
 /* 자식 요소들을 가운데 정렬 */
  /* 추가적인 스타일을 여기에 추가할 수 있습니다. */
}

.Name {
  font-size: 5vh;
  font-weight: bold;
  font-family: 'omyu_pretty';
  color:#ceddd4;
  text-shadow: 2px 2px 2px #818d85,
  2px 2px 2px rgb(95, 87, 87);
  position: relative;
  
}

.Name::after {
  content: "";
  position: absolute;
  bottom: -0.2vh;
  left: -10%;
  width: 25vw;
  height: 0.5vh;
  background-color: rgba(75, 62, 29, 0.753);
  border-radius: 10px;
}

.goarrow {
  font-size: 4vh;
  color: rgba(56, 50, 17, 0.808);
  text-shadow: 3px 3px 2px rgb(172, 151, 151);
  margin-top: 8%;
  margin-left: 1vh;
}

.heartp {
  margin-top: 10%;
  margin-right: 2%;
  width: 2.5vw;
  height: 5vh;
}

