/* FurnitureCom.module.css */
.duiContainer {
  position: relative;
  top: 25vh;
  left: 7vw;
}

/* 추가 */

.fuImage {
  position: absolute;
  top: 45%;
  left: 53%;
  transform: translate(-50%, -50%);
  margin: 0;

}

.sbox {
  position: relative;
  box-sizing: border-box;
  height: 27vh;
  width: 13.5vw;
  background-color: rgba(255, 255, 255, 0.897);
  border-radius: 4vh;
  box-shadow: 0px 0px 10px rgb(255, 255, 255),
    5px 5px 3px rgba(255, 169, 199, 0.808),
    5px 5px 10px rgba(255, 206, 223, 0.808),
    -3px -3px 10px rgba(255, 238, 244, 0.719);
  z-index: 0;
  margin-bottom: 5vh;
}

.fu {
  position: absolute;
  height: 13vh;
  margin: 0;
}

.text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'omyu_pretty';
  font-size: 3vh;
  color: rgb(255, 177, 190);
  text-shadow: 2px 2px 2px rgb(255, 254, 254),
    2px 2px 2px rgb(255, 133, 151);
  

}

.heartp {
  position: absolute;
  width: 5vw;
  height: 10vh;
  top: -4.5vh;
  left: 4.2vw;
  z-index: 2;
}

