.btn{
    color: white; 
    padding: 15px 25px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                0 2px 0 -1px rgba(0,0,0,0.13), 
                0 3px 0 -1px rgba(0,0,0,0.08), 
                0 3px 13px -1px rgba(0,0,0,0.21);
      background-color: #74675c;  
      padding: 4px 12px;  
      font-size: 12px;
      font-family: 'BookkMyungjo-Bd';
      
}

.btn:active{top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: relative;}

.btn3{
        color: white; 
        padding: 15px 25px;
        display: inline-block;
        border: 1px solid rgba(0,0,0,0.21);
        border-bottom-color: rgba(0,0,0,0.34);
        text-shadow:0 1px 0 rgba(0,0,0,0.15);
        box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                    0 2px 0 -1px rgba(0,0,0,0.13), 
                    0 3px 0 -1px rgba(0,0,0,0.08), 
                    0 3px 13px -1px rgba(0,0,0,0.21);
          background-color: #74675c;  
          padding: 4px 12px;  
          font-size: 12px;
          font-family: 'BookkMyungjo-Bd';
          position: relative;
              top: 560px;
              left: 50%;
              z-index: 5;
          
    }

.btn3:active{top: 1px;
        border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
        box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
        position: relative;
        top: 560px;
        left: 50%;
        z-index: 5;}

.id {
    font-family: 'BookkMyungjo-Bd'

}

.password{
    font-family: 'BookkMyungjo-Bd'

}

.title{
    font-family: 'Pacifico', cursive;
    position: relative;
              top: 200px;
              left: 42%;
              font-size: 40px;
    z-index: 5;

}

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Merriweather:ital,wght@0,300;1,700&family=Pacifico&family=Pangolin&display=swap');


.bookcover{
    
    width: 600px;
    height: 800px;
    object-fit: cover;
    position: relative;
        top:  -180px;
        left: 35%;
        z-index: 1;
       
  }

  .pass{
    width: 10%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    position: relative;
        top: 570px;
        left: 45%;
        z-index: 5;
        background-color:transparent;
        font-family: 'BookkMyungjo-Bd';
}

.id {
    width: 10%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    position: relative;
        top: 570px;
        left: 45%;
        z-index: 5;
        background-color:transparent;
        font-family: 'BookkMyungjo-Bd';
        z-index: 5;
}

