@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDKukdetopokki-Lt';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.background{
    background-color: #ffffff1c;
    height: 100vh;
    
}


.sbox{
    position: relative;
      box-sizing: border-box;
      height: 40vh;
      width: 40vw;
      top: 27vh;
      left: 30vw;
      background-color: #fff3ede0;
      box-shadow: 3px 3px 5px #f5e3da,
                  -3px -3px 5px #f5e3da,
                  5px 5px 10px #dbb39d,
                  -5px -5px 10px #dbb39d;
      z-index:0;
      animation: fadeInAndStay 3s forwards;
      animation-delay: 6s;
    border-radius: 10vh;
    opacity: 0;
   
}

.ui
{
    position: relative;
    top: -33%;
    left: 68%;
    width: 6%;
    z-index:4;
    animation: fadeInAndStay 2s forwards 11s; 
    transform: rotate(45deg);
    opacity: 0;
}
 
.heartp{
    position: relative;
    width: 6vw;
    height: 13vh;
    top: 0.5vh;
    left: 47vw;
    opacity: 0;
    animation: fadeInOut 7s 1;
    z-index: 2;
}

.Login{
    position: relative;
    width: 26vw;
    top: 4vh;
    left: 13.2vw;
    font-family: 'TheJamsil5Bold';
    font-size: 10vh;
    color: #ff94a4;
    text-shadow: 3px 2px 1px #c07a84, 
                  3px 3px 3px #5a5355f3;
    z-index: 4;
    opacity: 0;
    animation: fadeInAndStay 2s forwards 11s; 
}



.title{
    position: relative;
    width: 25vw;
    height: 0vh;
    top: 3vh;
    left: 6vw;
    font-family: 'TheJamsil5Bold';
    font-size: 12vh;
    color: #ff94a4;
    text-shadow: 3px 2px 1px #c07a84, 
                  3px 3px 3px #5a5355f3;
    z-index: 4;
    opacity: 0;
    animation: fadeInOut 6s 1;
    animation-delay: 6s;
    
}


.titlee{
    position: relative;
    width: 25vw;
    height: 0vh;
    top: 17vh;
    left: 8.5vw;
    font-family: 'TheJamsil5Bold';
    font-weight: 100vh;
    font-size: 12vh;
    color:#ceddd4;
    text-shadow: 3px 3px 3px #8ea597,
                3px 3px 2px rgb(158, 125, 125);
    z-index: 4;
    opacity: 0;
    animation: fadeInOut 6s 1;
    animation-delay: 6s;
}



@keyframes fadeInOut {
    0%, 100% {
      opacity: 0; /* 시작과 끝에서 투명한 상태 (사라짐) */
    }
    50% {
      opacity: 1; /* 중간에서 불투명한 상태 (나타남) */
    }
  }
  @keyframes fadeInAndStay {
    from {
        opacity: 0; /* 시작에서 투명한 상태 (사라짐) */
    }
    to {
        opacity: 1; /* 끝에서 불투명한 상태 (나타남) */
    }
}



input:focus{
    outline:none;}

input:focus::placeholder{
    color:transparent;
}

.id::placeholder {
    color: #000000;
    
}
.pass::placeholder {
    color: #000000;
    
}


.btn{
    color: white; 
    display: inline-block;
    border: 1px solid rgba(63, 63, 63, 0.21);
    border-bottom-color: rgba(165, 165, 165, 0.34);
    text-shadow:2px 2px 2px rgba(189, 187, 187, 0.15);
    box-shadow: 3px 3px 2px rgb(139, 129, 129),
                0 1px 0 rgba(255,255,255,0.34) inset, 
                0 3px 0 -1px rgba(0,0,0,0.13), 
                0 4px 0 -1px rgba(51, 46, 46, 0.08), 
                0 3px 13px -1px rgba(14, 11, 11, 0.21);
      background-color: #9D8189;  
      padding: 0.5vh 3vw;  
      font-size: 2vh;
      font-family: 'omyu_pretty';
      position: fixed;
         top: 58%;
        left: 46%;
        z-index: 5;
        animation: fadeInAndStay 2s forwards 11s; 
        border-radius: 5vh;
        opacity: 0;
}

.btn:hover{
    background-color: #7a6269;  
}

.btn:active{
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 3px 3px 2px rgb(114, 102, 102), 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: fixed;
    top: 58%;
    left: 46%;
    z-index: 5;
    background-color: #503f44; 
}

.btn2{
    color: white; 
    display: inline-block;
    border: 1px solid rgba(63, 63, 63, 0.21);
    border-bottom-color: rgba(165, 165, 165, 0.34);
    text-shadow:0 1px 0 rgba(206, 206, 206, 0.15);
    box-shadow: 3px 3px 2px rgb(139, 129, 129),
                0 1px 0 rgba(255,255,255,0.34) inset, 
                0 3px 0 -1px rgba(0,0,0,0.13), 
                0 4px 0 -1px rgba(51, 46, 46, 0.08), 
                0 3px 13px -1px rgba(14, 11, 11, 0.21);
      background-color: #9D8189;  
      padding: 1vh 7vw;  
      font-size: 2vh;
      font-family: 'omyu_pretty';
      position: fixed;
        top: 49%;
        left: 33%;
        z-index: 5;
        animation: fadeInAndStay 2s forwards 11s; 
        border-radius: 5vh;
        opacity: 0;
}


.btn2:hover{
    background-color: #7a6269; 
}

.btn2:active{top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 3px 3px 2px rgb(114, 102, 102), 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: fixed;
    top: 49%;
        left: 33%;
    z-index: 5;
    background-color: #503f44;  
}

.Fbg{
    position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      overflow: hidden;
    }

.guest{
    color: white; 
    display: inline-block;
    border: 1px solid rgba(63, 63, 63, 0.21);
    border-bottom-color: rgba(165, 165, 165, 0.34);
    text-shadow:2px 2px 2px rgba(189, 187, 187, 0.15);
    box-shadow: 3px 3px 2px rgb(139, 129, 129),
                0 1px 0 rgba(255,255,255,0.34) inset, 
                0 3px 0 -1px rgba(0,0,0,0.13), 
                0 4px 0 -1px rgba(51, 46, 46, 0.08), 
                0 3px 13px -1px rgba(14, 11, 11, 0.21);
      background-color: #9D8189;    
      padding: 1vh 7vw;  
      font-size: 2vh;
      font-family: 'omyu_pretty';
      position: fixed;
        top: 49%;
        left: 51%;
        z-index: 5;
        animation: fadeInAndStay 2s forwards 11s; 
        border-radius: 5vh;
        opacity: 0;
}
.guest:hover{
    background-color: #7a6269; 
}

.guest:active{top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 3px 3px 2px rgb(114, 102, 102), 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: fixed;
    top: 49%;
        left: 51%;
    z-index: 5;
    background-color: #503f44;  
}


