@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDKukdetopokki-Lt';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.background{
    background-color: rgba(255, 246, 246, 0.651);
    height: 100vh;
    
}


.sbox{
    position: relative;
      box-sizing: border-box;
      height: 40vh;
      width: 40vw;
      top: 27vh;
      left: 30vw;
      background-color: rgba(255, 246, 248, 0.89);
      border-radius: 20px; /* 둥근 테두리 */
      box-shadow: 0px 0px 5px rgb(255, 255, 255),
                  0px 0px 5px rgb(255, 255, 255),
                  5px 5px 10px rgb(238, 204, 213),
                  -5px -5px 10px rgb(238, 204, 213);
      z-index:3;
    animation: fadeInAndStay 3s forwards;
    animation-delay: 6s;
    border-radius: 20px;
    opacity: 0;
    
}


.heartp{
    position: relative;
    width: 6vw;
    height: 13vh;
    top: 0.5vh;
    left: 47vw;
    opacity: 0;
    animation: fadeInOut 7s 1;
    z-index: 2;
}

.Login{
    position: relative;
    width: 26vw;
    top: 3vh;
    left: 13vw;
    font-family: 'TheJamsil5Bold';
    font-size: 10vh;
    color: #ff9cb5f3;
    text-shadow: 3px 2px 1px rgb(161, 145, 145), 3px 3px 3px #ff7295f3
                 ;
    text-underline-offset: 2vh;
    text-decoration-thickness: 0.2vh;
    z-index: 4;
    opacity: 0;
    animation: fadeInAndStay 2s forwards 11s; 
}



.title{
    position: relative;
    width: 25vw;
    height: 0vh;
    top: 3vh;
    left: 6vw;
    font-family: 'TheJamsil5Bold';
    font-size: 12vh;
    color: #ffc0cff3;
    text-shadow: 3px 2px 1px rgb(161, 145, 145);
    z-index: 4;
    opacity: 0;
    animation: fadeInOut 5s 1;
    animation-delay: 6s;
    
}


.titlee{
    position: relative;
    width: 25vw;
    height: 0vh;
    top: 17vh;
    left: 8.5vw;
    font-family: 'TheJamsil5Bold';
    font-weight: 100vh;
    font-size: 12vh;
    color: #ffdae3f3;
    text-shadow: 3px 2px 1px rgb(161, 145, 145);
    z-index: 4;
    opacity: 0;
    animation: fadeInOut 5s 1;
    animation-delay: 6s;
}



@keyframes fadeInOut {
    0%, 100% {
      opacity: 0; /* 시작과 끝에서 투명한 상태 (사라짐) */
    }
    50% {
      opacity: 1; /* 중간에서 불투명한 상태 (나타남) */
    }
  }
  @keyframes fadeInAndStay {
    from {
        opacity: 0; /* 시작에서 투명한 상태 (사라짐) */
    }
    to {
        opacity: 1; /* 끝에서 불투명한 상태 (나타남) */
    }
}



input:focus{
    outline:none;}

input:focus::placeholder{
    color:transparent;
}

.id::placeholder {
    color: #000000;
    
}
.pass::placeholder {
    color: #000000;
    
}


.btn{
    color: white; 
    display: inline-block;
    border: 1px solid rgba(63, 63, 63, 0.21);
    border-bottom-color: rgba(165, 165, 165, 0.34);
    text-shadow:2px 2px 2px rgba(189, 187, 187, 0.15);
    box-shadow: 3px 3px 2px rgb(139, 129, 129),
                0 1px 0 rgba(255,255,255,0.34) inset, 
                0 3px 0 -1px rgba(0,0,0,0.13), 
                0 4px 0 -1px rgba(51, 46, 46, 0.08), 
                0 3px 13px -1px rgba(14, 11, 11, 0.21);
      background-color: rgba(255, 114, 147, 0.452);   
      padding: 1vh 14.5vw;  
      font-size: 2vh;
      font-family: 'omyu_pretty';
      position: fixed;
        top: 47.5%;
        left: 34.5%;
        z-index: 5;
        animation: fadeInAndStay 2s forwards 11s; 
        opacity: 0;
        border-radius: 30px;

}

.btn:hover{
    background-color: rgba(214, 93, 122, 0.452);  
}

.btn:active{
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 3px 3px 2px rgb(114, 102, 102), 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: fixed;
        top: 47.5%;
        left: 34.5%;
    z-index: 5;
    background-color: rgba(168, 73, 96, 0.452);  
}

.btn2{
    color: white; 
    display: inline-block;
    border: 1px solid rgba(63, 63, 63, 0.21);
    border-bottom-color: rgba(165, 165, 165, 0.34);
    text-shadow:0 1px 0 rgba(206, 206, 206, 0.15);
    box-shadow: 3px 3px 2px rgb(139, 129, 129),
                0 1px 0 rgba(255,255,255,0.34) inset, 
                0 3px 0 -1px rgba(0,0,0,0.13), 
                0 4px 0 -1px rgba(51, 46, 46, 0.08), 
                0 3px 13px -1px rgba(14, 11, 11, 0.21);
      background-color: rgba(255, 114, 147, 0.452);   
      padding: 1vh 14.4vw;  
      font-size: 2vh;
      font-family: 'omyu_pretty';
      position: fixed;
        top: 56%;
        left: 34.5%;
        z-index: 5;
        animation: fadeInAndStay 2s forwards 11s; 
        opacity: 0;
        border-radius: 30px;
}

.btn2:hover{
    background-color: rgba(214, 93, 122, 0.452);  
}

.btn2:active{top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 3px 3px 2px rgb(114, 102, 102), 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: fixed;
    top: 56%;
    left: 34.5%;
    z-index: 5;
    background-color: rgba(168, 73, 96, 0.452);   
}

.Fbg{
    position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      overflow: hidden;
    }

