

.background{
  background-color: rgb(255, 255, 255);
  height: 100vh;
  z-index: 0;
}


.box {
  position: fixed;
  top: 12%; /* 원하는 수치로 조정 */
  left: 51%;
  transform: translateX(-50%);
  width: 85vw;
  height: 85vh;
  max-height: 85vh;
  overflow-y: auto;
  padding: 10px;
  background-color: #fff3ed;
  box-shadow: 5px 5px 10px rgb(207, 194, 195),
    -5px -5px 10px rgb(207, 194, 195),
    0px 0px 3px rgb(165, 147, 148),
    -0px -0px 3px rgb(165, 147, 148);
  z-index:1;
  display: flex;
  border-radius: 10px; /* 둥근 테두리 */
}

  .backarrow {
    position: fixed;
    top: 2vh;
    left: 4vh;
    font-size: 5vh;
    transform: rotate(180deg);
    color:#302b26;
    text-shadow: 3px 3px 2px rgb(172, 151, 151);
  }


  .Mypage{
    font-size: 8vh;
      font-weight: bold;
      position: fixed;
      top: -0.5%;
    left: 43%;
    font-family: 'SDKukdetopokki-Lt';
      z-index: 2;
      color: #ff94a4;
    text-shadow: 3px 2px 1px #c07a84, 
                  3px 3px 3px #5a5355f3;
      
      
  }


.name{
    font-size: 8vh;
    font-weight: bold;
    position: fixed;
    top: -1%;
    left: 7%;
    font-family: 'omyu_pretty';
    z-index: 2;
    color:#FFCAD4;
    text-shadow: 3px 3px 3px #a06c75,
                3px 3px 2px rgb(255, 255, 255);
}


.Money{
    font-size: 7vh;
    font-weight: bold;
    position: fixed;
    top: 1%;
    left: 52%;
    font-family: 'omyu_pretty';
    z-index: 2;
    color:#ceddd4;
    text-shadow: 3px 3px 3px #7c9686,
                3px 3px 2px rgb(70, 42, 42);
}


.copy {
    position: relative;
    width: 3.5vw;
    height: 7vh;
    left: 0.5vw;
    top: 0.5vh;
}

.have {
    font-size: 10vh;
    font-weight: bold;
    position: absolute;
    top: 15%;
    left: 17%;
    transform: translate(-15%);
    font-family: 'TheJamsil5Bold';
    z-index: 2;
    color: #9D8189;
    text-shadow: 3px 3px 3px rgb(88, 62, 69), 3px 3px 2px rgb(255, 255, 255);
  }
  

  .sale {
    font-size: 10vh;
    font-weight: bold;
    position: absolute; /* .sale를 absolute로 설정 */
    top: 16%; /* 세로 중앙 정렬을 위해 top을 50%로 설정 */
    left: 70%;
    transform: translate(-20%); /* 가로 중앙 정렬을 위해 transform 사용 */
    font-family: 'TheJamsil5Bold';
    z-index: 2;
    color: #9D8189;
    text-shadow: 3px 3px 3px rgb(88, 62, 69), 3px 3px 2px rgb(255, 255, 255);
  }


  .leftContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8vh;
    grid-row-gap: 2vh;
    justify-content: start;
    position: absolute;
    top: 10%;
    left: -3.5%;
    flex: 1;
    
    
    
  }

  .rightContent {
    position: absolute;
  left: 66%;
  transform: translateX(-50%);
  flex: 1;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 8vh;
  grid-row-gap: 2vh;
  display: grid;
  justify-content: start;
  top: 10%;
 
    
  }
 


  .separator {
    width: 3px; /* 선의 너비 설정 */
    background-color: #ccc; /* 선의 색상 설정 */
    height: 100%; /* 선의 높이를 컨테이너 높이와 동일하게 설정 */
    position: absolute; /* 절대 위치로 설정 */
    top: 0; /* 세로 가운데 정렬을 위해 top을 0으로 설정 */
    left: 50%; /* 가로 가운데 정렬을 위해 left를 50%로 설정 */
    transform: translateX(-50%); /* 가로 가운데 정렬을 조정 */
    z-index: 2; /* separator가 위에 표시되도록 z-index 설정 */
  }
  
