.background{
  background-color: #ffe9c017;
  height: 100vh;
  z-index: 0;
}


.sbox{
      position: relative;
      top: 35%;
      left: 10%;
      height: 45vh;
      width: 22.5vw;
      background-color: rgba(255, 255, 255, 0.897);
      border-radius: 35px;
      box-shadow: 0px 0px 10px rgb(255, 255, 255),
        5px 5px 3px rgb(245, 124, 144),
        5px 5px 10px rgba(255, 207, 223, 0.808),
        -3px -3px 10px rgba(255, 238, 244, 0.719);
      z-index: -1;
     
  }



.stopheart{
  position: fixed;
    width: 8%;
    height: 15.5%;
    top: 35%;
    left: 27%;
  z-index: 2;
}

.text{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'TheJamsil5Bold';
    font-size: 4.5vh;
    color: rgb(255, 154, 167);
  text-shadow: 2px 2px 2px rgb(255, 254, 254),
    2px 2px 2px rgb(255, 133, 151);
   z-index: 1;
}

.fu{
  position: fixed;
  top: 53%;
  left: 21%;
  width: 20vw;
}
.box {
  position: fixed;
  top: 12%; /* 원하는 수치로 조정 */
  left: 51%;
  transform: translateX(-50%);
  width: 80vw;
  height: 85vh;
  max-height: 85vh;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px; /* 둥근 테두리 */
  background-color: #fff3ed;
  box-shadow: 5px 5px 10px rgb(207, 194, 195),
    -5px -5px 10px rgb(207, 194, 195),
    0px 0px 3px rgb(165, 147, 148),
    -0px -0px 3px rgb(165, 147, 148);
  z-index:-2;

}

.titletext{
  position: fixed;
  top: 1%;
  left: 3%;
  font-family: 'TheJamsil5Bold';
    font-size: 9vh;
    color: #9D8189;
    text-shadow: 3px 3px 3px rgb(88, 62, 69), 3px 3px 2px rgb(255, 255, 255);
}

.detailtext{
  position: fixed;
  top: 16%;
  left: 7%;
  font-family: 'omyu_pretty';
    font-size: 6vh;
    color:#b9c9f0;
    text-shadow: 2px 2px 2px rgb(138, 106, 115),
                2px 2px 2px rgb(255, 255, 255);
    
}

.backarrow {
  position: fixed;
  top: 2vh;
  left: 4vh;
  font-size: 5vh;
  transform: rotate(180deg);
  color:#302b26;
  text-shadow: 3px 3px 2px rgb(172, 151, 151);
}

.FurnitureDetails{
  font-size: 7vh;
  font-weight: bold;
  position: absolute;
  top: 0%;
  left: 37%;
  font-family: 'SDKukdetopokki-Lt';
  z-index: 2;
  color: #ff94a4;
    text-shadow: 3px 2px 1px #c07a84, 
                  3px 3px 3px #5a5355f3;
  
  
}


.buy{
  color: rgb(255, 255, 255); 
  display: inline-block;
  border: 1px solid rgba(56, 56, 56, 0.21);
  border-bottom-color: rgba(0,0,0,0.34);
  box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
              0 2px 0 rgba(0,0,0,0.13), 
              0 3px 0 rgba(0,0,0,0.08), 
              0 3px 1px  rgba(75, 38, 38, 0.21),
              0px 0px 1px rgb(161, 123, 133);
    background-color: #ff94a4;
    padding: 0.5vh 16vw;  
    font-size: 3vh;
    font-weight: bolder;
    font-family: 'omyu_pretty';
    position: fixed;
    top: 85%;
    left: 50%; 
    border-radius: 30px;
}

.buy:hover{
  background-color: #da7c8a;
}

.buy:active{top: 1px;
  border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
  box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
  position: fixed;
  top: 85%;
    left: 50%; 
  background-color: #a85c67;
  }
    

.price{
  position: fixed;
    top: 65%;
    left: 52%;
    font-family: 'TheJamsil5Bold';
    font-size: 5vh;
    color:#ceddd4;
    text-shadow: 2px 2px 2px rgba(122, 81, 81, 0.863);
}


.priceInput {
  position: fixed;
  top: 65%;
  left: 62%;
  width: 15%;
  font-size: 4vh;
  opacity: 0.8; /* 투명도 조절 (0.0부터 1.0까지 가능) */
  border-radius: 20px; /* 모서리 둥글게 설정 */
  background-color: rgba(255, 255, 255, 0.9); /* 배경색 및 투명도 설정 */
  padding: 10px; /* 내부 여백 추가 (선택 사항) */
  font-family: 'omyu_pretty';
  color: rgb(255, 216, 216);
  text-shadow: 3px 3px 2px rgb(161, 123, 133), 3px 3px 2px rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(151, 98, 119, 0.3); /* 그림자 설정 */
}

.dht{
  position: fixed;
  top: 64%;
  left: 78%;
  font-family: 'omyu_pretty';
  font-size: 6vh;
  color:rgb(255, 216, 216);
  text-shadow: 3px 3px 2px rgb(161, 123, 133),
              3px 3px 2px rgb(255, 255, 255);
}

.name{
  position: fixed;
    top: 43%;
    left: 52%;
    font-family: 'TheJamsil5Bold';
    font-size: 5vh;
    color:#ceddd4;
    text-shadow: 2px 2px 2px rgba(122, 81, 81, 0.863);
}

.owner{
  position: fixed;
    top: 50%;
    left: 52%;
    font-family: 'omyu_pretty';
    font-size: 4vh;
    color:rgb(255, 216, 216);
    text-shadow: 3px 3px 2px rgb(161, 123, 133),
                3px 3px 2px rgb(255, 255, 255);
}


.hrr{
  position: fixed;
  width: 30vw;
  height: 5vh;
  top: 57%;
  left: 41vw;
  z-index: 6;
  border-top :4px solid rgba(105, 84, 84, 0.76);
}

.hrrr{
  position: fixed;
  width: 30vw;
  height: 5vh;
  top: 75%;
  left: 41vw;
  z-index: 6;
  border-top :4px solid rgba(105, 84, 84, 0.76);
}





.heartloding{
  position: fixed;
  width: 7%;
  height: 14%;
  top: 38%;
  left: 46%;
  z-index: 2;
}

.percent{
  position: absolute;
  font-family: 'omyu_pretty';
  font-size: 2.5rem;
  color: rgb(251, 160, 210);
  font-weight: bold;
  top: 65%; /* 세로 가운데 정렬을 위해 요소의 상단을 화면 중앙으로 이동 */
  left: 50%; /* 가로 가운데 정렬을 위해 요소의 왼쪽을 화면 중앙으로 이동 */
  transform: translate(-50%, -50%); /* 요소를 다시 왼쪽과 상단으로 이동시켜 중앙 정렬 */
}

