.background{
  background-color: rgba(255, 255, 255, 0.651);
  height: 100vh;
  z-index: 0;
}

.searchbar{
  position: fixed;
  width: 19%;
  height: 40%;
  top: -12%; 
  left: 42%; 
  z-index: 6;
  font-size: 4vh;
  text-align:center;
  font-family: 'TheJamsil5Bold';
  background-color: transparent;
  color: rgb(255, 154, 167);
  text-shadow: 2px 2px 2px rgb(255, 254, 254),
  2px 2px 2px rgb(255, 133, 151);
  
  
}
.box {
  position: fixed;
  top: 12%; /* 원하는 수치로 조정 */
  left: 51%;
  transform: translateX(-50%);
  width: 88vw;
  height: 83vh;
  max-height: 85vh;
  overflow-y: auto;
  background-color: #fff3ed;
  box-shadow: 5px 5px 10px rgb(207, 194, 195),
    -5px -5px 10px rgb(207, 194, 195),
    0px 0px 3px rgb(165, 147, 148),
    -0px -0px 3px rgb(165, 147, 148);
  z-index:1;

}



.Mag{
  position: fixed;
  top: 6%;
  left: 36%;
  height: 4vh;
  width: 2vw;
}



.flexContainer {
    display: flex;
    flex-direction: row; /* 가로로 배치 */
    align-items: center; /* 수직 가운데 정렬 */
    gap: 20px; /* 아이템 간 간격 설정 */
  }
  
  .listContainer {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .imageContainer {
    display: flex;
    
    gap: 20px; /* 아이템 간 간격 설정 */
  }

  .itemsContainer {
    display: flex;
    flex-wrap: wrap; /* 아이템이 넘칠 경우 아래로 넘어가도록 설정 */
    gap: 20px; /* 아이템 간 간격 설정 */
  }

  .heartp{
    position: fixed;
    width: 3vw;
    height: 6vh;
    top: 12vh;
    left: 59vw;
  
}

.backarrow {
  position: fixed;
  top: 2vh;
  left: 4vh;
  font-size: 5vh;
  transform: rotate(180deg);
  color:#302b26;
  text-shadow: 3px 3px 2px rgb(172, 151, 151);
}

.Shop{
  font-size: 8vh;
    font-weight: bold;
    position: absolute;
    top: -0.5%;
    left: 47%;
    font-family: 'SDKukdetopokki-Lt';
    z-index: 2;
    color: #ff94a4;
    text-shadow: 3px 2px 1px #c07a84, 
                  3px 3px 3px #5a5355f3;
    
    
}

.hrr {
  position: fixed;
  width: 26vw;
  height: 5vh;
  top: 13%;
  left: 36%;
  z-index: 4;
  border-top : 4px solid rgb(92, 81, 84);
  
  
}

.upheart{
  position: fixed;
  width: 50vw;
  height: 100vh;
  left: 0vh;
  top: 0vh;
  z-index: -2;
}
.upheart2{
  position: fixed;
  width: 50vw;
  height: 100vh;
  left: 110vh;
  top: 0vh;
  z-index: -2;
}

.furnitureWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 3vw;
  grid-row-gap: 3.5vh;
  justify-content: start;
  position: absolute;
  top: -3%;
  left: -2%;
}

