.btn {
    color: white; 
  padding: 15px 25px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom-color: rgba(0,0,0,0.34);
  text-shadow:0 1px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
              0 2px 0 -1px rgba(0,0,0,0.13), 
              0 3px 0 -1px rgba(0,0,0,0.08), 
              0 3px 13px -1px rgba(0,0,0,0.21);
    background-color: #74675c;  
    padding: 4px 12px;  
    font-size: 12px;
    font-family: 'BookkMyungjo-Bd'
}

.btn:active{top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: relative;}
    
.btn2{   color: white; 
    padding: 15px 25px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                0 2px 0 -1px rgba(0,0,0,0.13), 
                0 3px 0 -1px rgba(0,0,0,0.08), 
                0 3px 13px -1px rgba(0,0,0,0.21);
      background-color: #74675c;  
      padding: 4px 12px;  
      font-size: 12px;
      font-family: 'BookkMyungjo-Bd'

}
.btn2:active{top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: relative;}
    

.btn3{   color: white; 
    padding: 15px 25px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                0 2px 0 -1px rgba(0,0,0,0.13), 
                0 3px 0 -1px rgba(0,0,0,0.08), 
                0 3px 13px -1px rgba(0,0,0,0.21);
      background-color: #74675c;  
      padding: 4px 12px;  
      font-size: 12px;
      font-family: 'BookkMyungjo-Bd'

}

.btn3:active{top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: relative;}

.btn4{   color: white; 
        padding: 15px 25px;
        display: inline-block;
        border: 1px solid rgba(0,0,0,0.21);
        border-bottom-color: rgba(0,0,0,0.34);
        text-shadow:0 1px 0 rgba(0,0,0,0.15);
        box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                    0 2px 0 -1px rgba(0,0,0,0.13), 
                    0 3px 0 -1px rgba(0,0,0,0.08), 
                    0 3px 13px -1px rgba(0,0,0,0.21);
          background-color: #74675c;  
          padding: 4px 12px;  
          font-size: 12px;
          font-family: 'BookkMyungjo-Bd';
          position: relative;
          top: 800px;
          left: 0%;
    
    }
.btn4:active{top: 1px;
        border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
        box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
        position: relative;
        top: 800px;
        left: 0%;}


.btn5{   color: white; 
            padding: 15px 25px;
            display: inline-block;
            border: 1px solid rgba(0,0,0,0.21);
            border-bottom-color: rgba(0,0,0,0.34);
            text-shadow:0 1px 0 rgba(0,0,0,0.15);
            box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                        0 2px 0 -1px rgba(0,0,0,0.13), 
                        0 3px 0 -1px rgba(0,0,0,0.08), 
                        0 3px 13px -1px rgba(0,0,0,0.21);
              background-color: #74675c;  
              padding: 4px 12px;  
              font-size: 12px;
              font-family: 'BookkMyungjo-Bd';
              position: relative;
          top: 800px;
          left: 0.2%;
        
        }
.btn5:active{top: 1px;
            border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
            box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
            position: relative;
            top: 800px;
            left: 0.2%;}

.btn6{   color: white; 
                padding: 15px 25px;
                display: inline-block;
                border: 1px solid rgba(0,0,0,0.21);
                border-bottom-color: rgba(0,0,0,0.34);
                text-shadow:0 1px 0 rgba(0,0,0,0.15);
                box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                            0 2px 0 -1px rgba(0,0,0,0.13), 
                            0 3px 0 -1px rgba(0,0,0,0.08), 
                            0 3px 13px -1px rgba(0,0,0,0.21);
                  background-color: #74675c;  
                  padding: 4px 12px;  
                  font-size: 12px;
                  font-family: 'BookkMyungjo-Bd';
                  position: relative;
                  top: 800px;
                  left: 0.4%;
            
            }

.btn6:active{top: 1px;
                border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
                box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
                position: relative;
                top: 800px;
                left: 0.4%}

.btn7{   color: white; 
                    padding: 15px 25px;
                    display: inline-block;
                    border: 1px solid rgba(0,0,0,0.21);
                    border-bottom-color: rgba(0,0,0,0.34);
                    text-shadow:0 1px 0 rgba(0,0,0,0.15);
                    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                                0 2px 0 -1px rgba(0,0,0,0.13), 
                                0 3px 0 -1px rgba(0,0,0,0.08), 
                                0 3px 13px -1px rgba(0,0,0,0.21);
                      background-color: #74675c;  
                      padding: 4px 12px;  
                      font-size: 12px;
                      font-family: 'BookkMyungjo-Bd';
                      position: relative;
                      top: 800px;
                      left: 0.6%
                
                }
.btn7:active{top: 1px;
                    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
                    box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
                    position: relative;
                    top: 800px;
                    left: 0.6%
              }

 .btn8{   color: white; 
                        padding: 15px 25px;
                        display: inline-block;
                        border: 1px solid rgba(0,0,0,0.21);
                        border-bottom-color: rgba(0,0,0,0.34);
                        text-shadow:0 1px 0 rgba(0,0,0,0.15);
                        box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                                    0 2px 0 -1px rgba(0,0,0,0.13), 
                                    0 3px 0 -1px rgba(0,0,0,0.08), 
                                    0 3px 13px -1px rgba(0,0,0,0.21);
                          background-color: #74675c;  
                          padding: 4px 12px;  
                          font-size: 12px;
                          font-family: 'BookkMyungjo-Bd';
                          position: relative;
                          top: 49px;
                        left: 70%
                    
                    }
    .btn8:active{top: 1px;
                        border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
                        box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
                        position: relative;
                        top: 49px;
                      left: 70%}
    
.btn9{   color: white; 
                            padding: 15px 25px;
                            display: inline-block;
                            border: 1px solid rgba(0,0,0,0.21);
                            border-bottom-color: rgba(0,0,0,0.34);
                            text-shadow:0 1px 0 rgba(0,0,0,0.15);
                            box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                                        0 2px 0 -1px rgba(0,0,0,0.13), 
                                        0 3px 0 -1px rgba(0,0,0,0.08), 
                                        0 3px 13px -1px rgba(0,0,0,0.21);
                              background-color: #74675c;  
                              padding: 4px 12px;  
                              font-size: 12px;
                              font-family: 'BookkMyungjo-Bd';
                              position: relative;
                              top: 49px;
                            left: 70%
                        
                        }
        .btn9:active{top: 1px;
                            border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
                            box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
                            position: relative;
                            top: 49px;
                            left: 70%}
        

.searchbar{
    position: relative;
    width: 250px;
    height: 25px;
    font-family: 'BookkMyungjo-Bd';
    position: relative;
    top: 50px;
    left: 70%
}
.search{
    font-family: 'BookkMyungjo-Bd';
    position: relative;
    top: 50px;
    left: 76%
}

.storage{
    font-family: 'BookkMyungjo-Bd';
    


}

.ul {
    font-family: 'BookkMyungjo-Bd';
    position: relative;
    top: 50px;
    left: 70%
}