.duiContainer {
    position: relative;
    top: 22vh;
    left: 5vw;
  }
  
.fuImage {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
  }

.dui{
    position: relative;
    height: 36vh;
    width: 12vw;
    
}

.fu{
    position: absolute;
    height: 10vh;
    width: 6vw;
}

.text {
    position: absolute;
    top: 65%; /* 100% - (1/3 * 100%) */
    left: 50%;
    transform: translateX(-50%);
  }