.ui{
    position: fixed;
    top: 14vh; 
    left: 20vw;  
    width: 60vw;
    height: 70vh;
    background-color:transparent;    
}


.btn{
    color: white; 
    padding: 15px 25px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 3px 3px 2px rgb(114, 102, 102),
                0 1px 0 rgba(255,255,255,0.34) inset, 
                0 2px 0 -1px rgba(0,0,0,0.13), 
                0 3px 0 -1px rgba(0,0,0,0.08), 
                0 3px 13px -1px rgba(0,0,0,0.21);
      background-color: #8b7561; 
      padding: 1vh 7vw; 
      font-size: 1.7vh;
      font-family: 'BookkMyungjo-Bd';
      position: fixed;
      top: 56vh;
      left: 42vw;
      z-index: 5;
      border-radius: 24px;
      opacity: 0;
    animation: fadeInAndStay 2s forwards 1s;
}

.btn:active{top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: relative;
    top: 56vh;
    left: 42vw;}

.btn3{
        color: white; 
        padding: 15px 25px;
        display: inline-block;
        border: 1px solid rgba(0,0,0,0.21);
        border-bottom-color: rgba(0,0,0,0.34);
        text-shadow:0 1px 0 rgba(0,0,0,0.15);
        box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                    0 2px 0 -1px rgba(0,0,0,0.13), 
                    0 3px 0 -1px rgba(0,0,0,0.08), 
                    0 3px 13px -1px rgba(0,0,0,0.21);
          background-color: #74675c;  
          padding: 4px 12px;  
          font-size: 12px;
          font-family: 'BookkMyungjo-Bd';
          position: relative;
              top: 560px;
              left: 50%;
              z-index: 5;
              
          
    }

.btn3:active{top: 1px;
        border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
        box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
        position: relative;
        top: 560px;
        left: 50%;
        z-index: 5;}


.title{
    font-family: 'Pacifico', cursive;
    position: relative;
              top: 200px;
              left: 42%;
              font-size: 40px;
    z-index: 5;
    

}

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Merriweather:ital,wght@0,300;1,700&family=Pacifico&family=Pangolin&display=swap');



.pass{
    box-sizing: border-box;
    border: none;
    position: fixed;
    top:  43vh;
    left: 42vw;
    width : 18vh;
        z-index: 5;
        color:#131212;
        background-color: rgb(255, 255, 255);
        font-family: 'Dancing Script';
        font-size: 1.5rem;
        text-align: left;
        border-radius: 15px;
        background-color: transparent;
        opacity: 0;
        animation: fadeInAndStay 2s forwards 1s;
}

.id {
    box-sizing: border-box;
    border: none;
    position: fixed;
    top:  38vh;
    left: 42vw;
    width : 18vh;
        z-index: 5;
        color:#131212;
        background-color: rgb(255, 255, 255);
        font-family: 'Dancing Script';
        font-size: 1.5rem;
        text-align: left;
        border-radius: 15px;
        background-color: transparent;
        opacity: 0;
        animation: fadeInAndStay 2s forwards 1s;
}

.nname{
    box-sizing: border-box;
    border: none;
    position: fixed;
    top:  48vh;
    left: 42vw;
    width : 18vh;
        z-index: 5;
        color:#131212;
        background-color: rgb(255, 255, 255);
        font-family: 'Dancing Script';
        font-size: 1.5rem;
        text-align: left;
        border-radius: 15px;
        background-color: transparent;
        opacity: 0;
        animation: fadeInAndStay 2s forwards 1s;
}

.ID{
    position: fixed;
    top:  38vh;
    left: 38vw;
    z-index: 5;
    color:#131212;
    background-color: rgb(255, 255, 255);
    font-family: 'Dancing Script';
    font-size: 1.5rem;
    text-align: center;
    background-color: transparent;
    opacity: 0;
    animation: fadeInAndStay 2s forwards 1s;
}

.PASS{
    position: fixed;
    top:  43vh;
    left: 36.5vw;
    z-index: 5;
    color:#131212;
    background-color: rgb(255, 255, 255);
    font-family: 'Dancing Script';
    font-size: 1.5rem;
    text-align: center;
    background-color: transparent;
    opacity: 0;
    animation: fadeInAndStay 2s forwards 1s;
}
.NAME{
    position: fixed;
    top:  48vh;
    left: 36vw;
    z-index: 5;
    color:#131212;
    background-color: rgb(255, 255, 255);
    font-family: 'Dancing Script';
    font-size: 1.5rem;
    text-align: center;
    background-color: transparent;
    opacity: 0;
    animation: fadeInAndStay 2s forwards 1s;
}

.btn2{
    color: white; 
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 3px 3px 2px rgb(114, 102, 102),
                0 1px 0 rgba(255,255,255,0.34) inset, 
                0 3px 0 -1px rgba(0,0,0,0.13), 
                0 4px 0 -1px rgba(0,0,0,0.08), 
                0 3px 13px -1px rgba(0,0,0,0.21);
      background-color: #8b7561;   
      padding: 1.2vh 13.2vw;  
      font-size: 1.7vh;
      font-family: 'BookkMyungjo-Bd';
      position: fixed;
        top: 45vh;
        left: 36vw;
        z-index: 5;
        animation: fadeOut 2s forwards;
        opacity: 0;
        border-radius: 24px;

}


.btn3{
    color: white; 
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 3px 3px 2px rgb(114, 102, 102),
                0 1px 0 rgba(255,255,255,0.34) inset, 
                0 3px 0 -1px rgba(0,0,0,0.13), 
                0 4px 0 -1px rgba(0,0,0,0.08), 
                0 3px 13px -1px rgba(0,0,0,0.21);
    background-color: #8b7561;   
      padding: 1.2vh 12.9vw;  
      font-size: 1.7vh;
      font-family:'BookkMyungjo-Bd';
      position: fixed;
        top: 54vh;
        left: 36vw;
        z-index: 5;
        animation: fadeOut 2s forwards;
        opacity: 0;
        border-radius: 24px;
}

@keyframes fadeInOut {
    0%, 100% {
      opacity: 0; /* 시작과 끝에서 투명한 상태 (사라짐) */
    }
    50% {
      opacity: 1; /* 중간에서 불투명한 상태 (나타남) */
    }
  }
  @keyframes fadeInAndStay {
    from {
        opacity: 0; /* 시작에서 투명한 상태 (사라짐) */
    }
    to {
        opacity: 1; /* 끝에서 불투명한 상태 (나타남) */
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .Login{
    position: fixed;
    width: 25vw;
    height: 0vh;
    top: 30vh;
    left: 45.3vw;
    font-family: 'Dancing Script';
    font-size: 9vh;
    color: #302b26;
    text-shadow: 3px 2px 1px rgb(161, 145, 145);
    text-underline-offset: 2vh;
    z-index: 4;
    animation: fadeOut 2s forwards;
    opacity: 0;
}

.backarrow {
    position: fixed;
    top: 3vh;
    left: 4vh;
    font-size: 2.5rem;
    transform: rotate(180deg);
    color:#302b26;
    opacity: 0;
    animation: fadeInAndStay 2s forwards 1s;
  }
  