body {
    background-color:rgb(247, 241, 235)
}

.heart{
    position: relative;
    width: 6vw;
    height: 13vh;
    top: 40vh;
    left: 47vw;
    opacity: 0;
    animation: fadeInOut 6s 1;
}

.heartb{
    position: relative;
    width: 6vw;
    height: 13vh;
    top: 24vh;
    left: 47vw;
    opacity: 0;
    animation: fadeInOut 6s 1;
    animation-delay: 1s;
}

.heartp{
    position: relative;
    width: 6vw;
    height: 13vh;
    top: 37vh;
    left: 47vw;
    opacity: 0;
    animation: fadeInOut 6s 1;
}

.Login{
    position: fixed;
    width: 25vw;
    height: 0vh;
    top: 30vh;
    left: 45.3vw;
    font-family: 'Dancing Script';
    font-size: 9vh;
    color: #302b26;
    text-shadow: 3px 2px 1px rgb(161, 145, 145);
    text-underline-offset: 2vh;
    z-index: 4;
}

.id {
    box-sizing: border-box;
    border: none;
    position: fixed;
    top:  45vh;
    left: 41.5vw;
    width : 18vh;
        z-index: 5;
        color:#131212;
        background-color: rgb(255, 255, 255);
        font-family: 'Dancing Script';
        font-size: 2rem;
        text-align: left;
        opacity: 0;
        animation: fadeInAndStay 2s forwards 1s;
        border-radius: 15px;
        background-color: transparent;
    }

    .pass{
        box-sizing: border-box;
        border: none;
        position: fixed;
        top:  45vh;
        left: 56vw;
        width : 18vh;
            z-index: 5;
            color:#131212;
            font-family: 'Dancing Script';
            font-size: 2rem;
            background-color: rgb(255, 255, 255);
            text-align:left;
            animation: fadeInAndStay 2s forwards 1s;
            opacity: 0;
            border-radius: 15px;
            background-color: transparent;
    }




.ui{
    position: fixed;
    top: 14vh; 
    left: 20vw;  
    width: 60vw;
    height: 70vh;
    background-color:transparent;    
}

@keyframes fadeInOut {
    0%, 100% {
      opacity: 0; /* 시작과 끝에서 투명한 상태 (사라짐) */
    }
    50% {
      opacity: 1; /* 중간에서 불투명한 상태 (나타남) */
    }
  }
  @keyframes fadeInAndStay {
    from {
        opacity: 0; /* 시작에서 투명한 상태 (사라짐) */
    }
    to {
        opacity: 1; /* 끝에서 불투명한 상태 (나타남) */
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
.background{
    position: fixed; 
    top: -30vh; 
    left: 0vw; 
    min-width: 207vh;
    min-height: 30vh;
    z-index: -5;
    
  }



input:focus{
    outline:none;}

input:focus::placeholder{
    color:transparent;
}

.id::placeholder {
    color: #000000;
    
}
.pass::placeholder {
    color: #000000;
    
}


.btn{
    color: white; 
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 3px 3px 2px rgb(114, 102, 102),
                0 1px 0 rgba(255,255,255,0.34) inset, 
                0 3px 0 -1px rgba(0,0,0,0.13), 
                0 4px 0 -1px rgba(0,0,0,0.08), 
                0 3px 13px -1px rgba(0,0,0,0.21);
      background-color: #8b7561;   
      padding: 1.2vh 13.2vw;  
      font-size: 1.7vh;
      font-family: 'BookkMyungjo-Bd';
      position: fixed;
        top: 45vh;
        left: 36vw;
        z-index: 5;
        animation: fadeOut 2s forwards;
        opacity: 0;
        border-radius: 24px;

}


.btn2{
    color: white; 
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 3px 3px 2px rgb(114, 102, 102),
                0 1px 0 rgba(255,255,255,0.34) inset, 
                0 3px 0 -1px rgba(0,0,0,0.13), 
                0 4px 0 -1px rgba(0,0,0,0.08), 
                0 3px 13px -1px rgba(0,0,0,0.21);
    background-color: #8b7561;   
      padding: 1.2vh 12.9vw;  
      font-size: 1.7vh;
      font-family:'BookkMyungjo-Bd';
      position: fixed;
        top: 54vh;
        left: 36vw;
        z-index: 5;
        animation: fadeOut 2s forwards;
        opacity: 0;
        border-radius: 24px;
}


.btn3{
    color: white; 
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 3px 3px 2px rgb(114, 102, 102),
                0 1px 0 rgba(255,255,255,0.34) inset, 
                0 2px 0 -1px rgba(0,0,0,0.13), 
                0 3px 0 -1px rgba(0,0,0,0.08), 
                0 3px 13px -1px rgba(0,0,0,0.21);
      background-color: #8b7561; 
      padding: 1vh 10vw; 
      font-size: 1.7vh;
      font-family: 'BookkMyungjo-Bd';
      position: fixed;
      top: 54vh;
      left: 39vw;
      z-index: 5;
      border-radius: 24px;
      animation: fadeInAndStay 2s forwards 1s;
      opacity: 0;
}

.btn3:hover{
    background-color: #796654;  
}


.btn3:active{top: 1px;
    border-color: 3px 3px 2px rgb(114, 102, 102), rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: fixed;
    top: 54vh;
    left: 39vw;
    z-index: 5;
    background-color: #685748;  
}

.ID{
    position: fixed;
    top:  45vh;
    left: 38vw;
    z-index: 5;
    color:#131212;
    background-color: rgb(255, 255, 255);
    font-family: 'Dancing Script';
    font-size: 2rem;
    text-align: center;
    opacity: 0;
    animation: fadeInAndStay 2s forwards 1s;
    background-color: transparent;
}

.PASS{
        position: fixed;
        top: 45vh;
        left: 51vw;
        z-index: 5;
        color:#131212;
        background-color: rgb(255, 255, 255);
        font-family: 'Dancing Script';
        font-size: 2rem;
        text-align: center;
        opacity: 0;
        animation: fadeInAndStay 2s forwards 1s;
        background-color: transparent;
}

.backarrow {
    position: fixed;
    top: 3vh;
    left: 4vh;
    font-size: 2.5rem;
    transform: rotate(180deg);
    color:#302b26;
    opacity: 0;
    animation: fadeInAndStay 2s forwards 1s;
  }
  
  
  
