

.searchbar{
    position: fixed;
    top: 13vh;
    left: 38vw;
    width: 20vw;
    height: 4vh;
    font-family: 'Dancing Script';
    border-radius: 0px;
    outline: 2px rgb(126, 104, 104) solid;
    background-color: transparent;
    text-align: center;
}

.searchbar:hover{
  outline: 2px rgb(41, 8, 8) solid;
}
.searchbar:focus{
  outline: 3px rgb(83, 65, 65) solid;
}

.search{
    font-family: 'BookkMyungjo-Bd'
}

.Fbg{
position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.dui{
    position: relative;
    top: 0;
    left: 0;
    width: 10vw;
    height: 30vh;
}
.flexContainer {
    display: flex;
    flex-direction: row; /* 가로로 배치 */
    align-items: center; /* 수직 가운데 정렬 */
    gap: 20px; /* 아이템 간 간격 설정 */
  }
  
  .listContainer {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .imageContainer {
    display: flex;
    
    gap: 20px; /* 아이템 간 간격 설정 */
  }

  .itemsContainer {
    display: flex;
    flex-wrap: wrap; /* 아이템이 넘칠 경우 아래로 넘어가도록 설정 */
    gap: 20px; /* 아이템 간 간격 설정 */
  }

  .heartp{
    position: fixed;
    width: 3vw;
    height: 6vh;
    top: 12vh;
    left: 59vw;
  
}

.backarrow {
  position: fixed;
  top: 3vh;
  left: 4vh;
  font-size: 2.5rem;
  transform: rotate(180deg);
  color:#302b26;
}